/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --primary: #247400;
  --bg: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* 
#about {
  background-color: #f9f9f9;
}

#struktur {
  background-color: #0000;
}

#program {
  background-color: #2f2f6000;
} */

/* #program,
#struktur,
#about,
#home,
#bidang {
  scroll-margin-top: 100px;
} */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1rem;
  font-weight: 100;
  color: black;
  font-style: italic;
  position: relative;
  margin-right: 20rem;
}

.navbar .navbar-logo b {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  margin-left: 1rem;
  margin-bottom: 5px;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: black;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: static;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: -20px;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 65rem;
  position: relative;
  left: 45rem;
  line-height: 0.9;
  bottom: -2rem;
}

.hero .content h1 {
  font-size: 3rem;
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.hero .content h1 span {
  font-size: 3rem;
  color: black;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}

.pramuka-img {
  position: absolute;
  width: 200px;
  left: 7%;
  bottom: -20px;
  transform: translateX(-50%);
}

.pramuka-img img {
  max-width: none;
  width: 600px;
  height: auto;
}

/* About Section */
.about {
  padding: 4rem 30% 1rem;
  color: black;
}

.about h2,
.struktur h2,
.bidang h2,
.program h2 {
  text-align: center;
  font-size: 2rem;
  margin: 3rem;
  line-height: 1;
}

.about h2 span,
.struktur h2 span,
.bidang h2 span,
.program h2 span,
.kontak h2 span {
  color: var(--primary);
}

.about .img-logo {
  flex: 1 1 3rem;
}

.about .img-logo img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.about .row {
  display: flex;
  width: 1000px;
  max-width: 1200px;
  margin-left: -250px;
  margin-top: 20px;
}

.about .row .content {
  flex: 1 1 20px;
  text-align: center;
  padding: 30px;
}

.about .row .content h3 {
  color: var(--primary);
  font-size: 2rem;
}

.about .row .content p {
  font-size: 15px;
  line-height: 1.4;
}

.divider {
  width: 1px;
  background-color: #010101;
  margin-top: 50px;
  height: auto;
}

/* Struktur section */
.struktur {
  padding: 2rem 3% 3rem;
  height: 50rem;
  margin-top: 2rem;
  position: relative;
  color: #010101;
}

.struktur h2 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.struktur p,
.bidang p,
.program p,
.kontak p {
  text-align: center;
  max-width: 45rem;
  margin: auto;
}

.struktur .row {
  display: flex;
  margin-top: 3.5rem;
  justify-content: center;
  height: 100px;
  width: 1200px;
  max-width: 1200px;
  gap: 50px;
  margin-left: auto;
}

.struktur .row .card {
  position: relative;
  text-align: center;
  width: 240px;
  height: 300px;
  border-radius: 20px;
  background: white;
  overflow: hidden;
  box-shadow: 0 15px 15px rgb(0, 0, 0, 0.2);
}

.struktur .row .card img {
  width: 100%;
  height: 100%;
}

.struktur .row .card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 152px;
  background: linear-gradient(to top, rgba(7, 7, 7, 0.7), transparent);
}

.struktur .row .card-text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: white;
  text-align: center;
  z-index: 2;
}

.struktur .row .card-text h3 {
  margin: 0;
  font-size: 20px;
}

.struktur .row .card-text p {
  margin: 5px 0 0;
  font-size: 10px;
}

/* Bidang section */
.bidang {
  padding: 5rem 0% 0rem;
  height: 50rem;
  position: relative;
  color: #010101;
}

.bidang h2 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.bidang .row1 {
  display: flex;
  margin-top: 5.5rem;
  justify-content: center;
  height: 100px;
  width: 1200px;
  max-width: 1200px;
  gap: 50px;
  margin-left: 3rem;
}

.bidang .row1 .card {
  position: relative;
  text-align: center;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background: white;
  overflow: hidden;
  box-shadow: 0 15px 15px rgb(0, 0, 0, 0.2);
}

.bidang .row1 .card img {
  width: 100%;
  height: 100%;
}

.bidang .row1 .card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 152px;
  background: linear-gradient(to top, rgba(7, 7, 7, 0.7), transparent);
}

.bidang .row1 .card-text {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
  text-align: center;
  z-index: 2;
}

.bidang .row1 .card-text h3 {
  margin: 0;
  font-size: 20px;
}

.bidang .row1 .card-text p {
  margin: 5px 0 0;
  font-size: 10px;
}

/* program section */

.program {
  padding: 1rem 0% 2rem;
  position: relative;
  color: #010101;
}

.program .text {
  padding: 10px;
}

.program h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.slideshow-container .mySlides img {
  border-radius: 20px;
  box-shadow: 0 15px 15px rgb(0, 0, 0, 0.2);
}

.slideshow-container .mySlides::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  height: 150px;
  border-radius: 20px;
  background: linear-gradient(to top, rgba(7, 7, 7, 0.7), transparent);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgb(0, 0, 0, 0.8);
}

.text-card {
  color: #f2f2f2;
  font-size: 10px;
  padding: 15px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

/* Kontak */
.kontak {
  padding: 5rem 10% 1rem;
  color: black;
}

.kontak h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  line-height: 1;
}

.kontak .row {
  display: flex;
  margin-top: 2rem;
  background-color: #eee;
  width: 1000px;
  border-radius: 20px;
  box-shadow: 0 15px 15px rgb(0, 0, 0, 0.2);
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.kontak .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.kontak .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #ffff;
  border-radius: 20px;
  border: 1px solid var(--primary);
  padding-left: 2rem;
}

.kontak .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #000000;
}

.kontak .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 20px;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: #a1a1a1;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  padding: 0.7rem 1rem;
  color: #fff;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700px;
}

/* Media Queris */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .hero .content {
    left: 10rem;
    text-align: center;
  }

  .pramuka-img img {
    width: 800px;
    left: 20px;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: transparent;
    width: 15rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: rgb(0, 0, 0);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .pramuka-img img {
    width: 450px;
    left: -10px;
  }

  .pramuka-img {
    position: absolute;
    left: 22%;
    bottom: -24px;
    transform: translateX(-50%);
  }

  .hero .content {
    left: 1rem;
    text-align: center;
    height: 500px;
  }

  .hero::after {
    bottom: -20px;
  }

  .about h2,
  .struktur h2 {
    font-size: 2.5rem;
    width: 450px;
    max-width: 500px;
    margin-left: -130px;
  }

  .about .img-logo img {
    width: 50%;
  }

  .about {
    height: 60rem;
  }

  .about .row {
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
    max-width: 500px;
    margin-left: -65px;
  }

  .about .row .content {
    flex: 1 1 300px;
    text-align: center;
    padding: 15px;
  }

  .about .row .content h3 {
    color: var(--primary);
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 10px;
    line-height: 1;
  }

  .divider {
    width: 0px;
  }

  .struktur {
    padding: 0rem 28% 1rem;
    height: 170rem;
  }

  .struktur .row {
    flex-wrap: wrap;
    width: 500px;
    max-width: 1000px;
    margin-left: -150px;
  }

  .struktur p {
    width: 33rem;
    margin-left: -45px;
  }

  .struktur .row .card-text {
    text-align: center;
    left: -20px;
  }

  .bidang .row1 {
    flex-wrap: wrap;
    width: 300px;
    max-width: 1000px;
    margin-left: 8rem;
  }

  .bidang h2 {
    font-size: 2.5rem;
    width: 400px;
    max-width: 500px;
  }

  .bidang p {
    width: 33rem;
  }

  .bidang .text {
    margin-left: 0rem;
  }

  .bidang .row1 .card-text {
    text-align: center;
    left: -5rem;
  }

  .bidang {
    padding: 0rem 0% 20rem;
    height: 190rem;
  }

  .program {
    padding: 0rem 0px 2rem;
  }

  .program p {
    width: 33rem;
    margin-left: 7rem;
  }

  .program h2 {
    margin-left: -2rem;
    font-size: 2.5rem;
    width: 450px;
    max-width: 500px;
  }

  .slideshow-container {
    max-width: 400px;
    width: 350px;
    margin-left: 5rem;
  }

  .text-card {
    font-size: 6px;
  }

  .text-card p {
    margin-left: 20rem;
  }

  .kontak .row {
    flex-wrap: wrap;
    width: 335px;
    height: 55rem;
  }

  .kontak .row map {
    height: 20rem;
  }

  .kontak .row form {
    padding-top: 0;
  }

  .kontak p {
    width: 30rem;
  }
}
